---
name: Deploy

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  chktex:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/latex/chktex@38f0d7e429cc1e3366331dba6ab7a656f9aa01e2 # v0

  vale:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/vale@38f0d7e429cc1e3366331dba6ab7a656f9aa01e2 # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vale-flags: --glob='!{config/,figures/*/example_,thesis}*'

  compile-latex:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/latex/compile@38f0d7e429cc1e3366331dba6ab7a656f9aa01e2 # v0

      - name: Upload artefacts
        # yamllint disable-line rule:line-length
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: artefacts
          path: |-
            *.bib
            *.bcf
            *.pdf
          if-no-files-found: error

  check-citations-referenced:
    runs-on: ubuntu-latest
    needs: compile-latex
    steps:
      - name: Download artefacts
        # yamllint disable-line rule:line-length
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: artefacts

      - name: Fix regex for checkcites
        # yamllint disable-line rule:line-length
        uses: xu-cheng/texlive-action@475ab07999e9709e524c3708488c8c170d3a6611 # v3
        id: references
        with:
          scheme: full
          run: >-
            sed -i 's#\sglob="false"##' thesis.bcf; echo uncited=$(checkcites -b
            biber thesis -u | grep -c "=>") >> $GITHUB_OUTPUT

      - name: Check all references cited
        if: ${{ steps.references.outputs.uncited > 0 }}
        # yamllint disable-line rule:line-length
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        with:
          script: core.setFailed('Not all references cited')

  upload-to-dropbox:
    if: github.ref == 'refs/heads/main'
    needs: compile-latex
    runs-on: ubuntu-latest
    steps:
      - name: Download artefacts
        # yamllint disable-line rule:line-length
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: artefacts

      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/dropbox@38f0d7e429cc1e3366331dba6ab7a656f9aa01e2 # v0
        with:
          configfile-version: ${{ secrets.CONFIGFILE_VERSION }}
          files-to-upload: $(find . -maxdepth 1 -name '*.pdf' -print)
          oauth-app-key: ${{ secrets.OAUTH_APP_KEY }}
          oauth-app-secret: ${{ secrets.OAUTH_APP_SECRET }}
          oauth-refresh-token: ${{ secrets.OAUTH_REFRESH_TOKEN }}
