---
name: Links

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  links:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/links@2900a170a05fafa6d18c036e488235ae8c02fa59 # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
